@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่ใหญ่ที่สุดในกทม.</p>
    <img src="/images/OAK Co.2.png" width="50%" />
</div>
